.main-title-subjects,
.second-title-subjects {
  text-align: center;
  margin: 5rem;
  color: #e6c619;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
}

.subject-img {
  width: 3rem;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.pop-up-article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  z-index: 9999;
  padding: 2rem;
}

.pop-up-container {
  display: flex;
  position: relative;
  border: 1px solid black;
  width: 60%;
  color: black;
  border-radius: 15px;
  padding: 2rem;
  background: white;
}

.close-button {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}

.more-details {
  margin: 3rem;
}

.subject-more-details-details {
  line-height: 1.5rem;
  width: 70%;
  display: flex;
  justify-self: center;
}

.specific-details {
  width: 90%;
  margin-left: 3.5rem;
  line-height: 1.5rem;
}

ul {
  margin: 2rem;
}

@media only screen and (max-width: 464px) {
  .pop-up-article {
    top: 140%;
    left: 50%;
    width: 120%;
  }
  .pop-up-container {
    width: 70%;
    font-size: 1.3rem;
  }
  .more-details {
    font-size: 1.3rem;
    text-align: center;
  }
  .specific-details,
  ul {
    font-size: 1.3rem;
    text-align: center;
    width: 75%;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .pop-up-article {
    top: 90%;
    left: 50%;
    width: 130%;
  }
  .pop-up-container {
    width: 80%;
    font-size: 1.3rem;
  }
  .more-details,
  .specific-details,
  li {
    font-size: 1.5rem;
    text-align: center;
  }
  .second-title-subjects {
    font-size: 2.3rem;
  }
}
