.main-title-subjects,
.second-title-subjects {
  text-align: center;
  margin: 5rem;
  color: #e6c619;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
}

.subject-img {
  width: 3rem;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.pop-up-article {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 13%;
  width: 80%;
  height: 30%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.pop-up-container {
  display: flex;
  position: absolute;
  top: 10%;
  border: 1px solid black;
  width: 60%;
  color: black;
  border-radius: 15px;
  padding: 2rem;
}

.close-button {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}

.more-details {
  margin: 3rem;
}

.subject-more-details-details {
  line-height: 1.5rem;
  width: 70%;
  display: flex;
  justify-self: center;
}

.specific-details {
  margin-left: 3.5rem;
  line-height: 1.5rem;
}

ul {
  margin: 2rem;
}

/* @media only screen and (max-width: 464px) {
  
} */
