.homepage-h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.homepage-img-hogwarts {
  width: 100%;
  height: 43rem;
}

.hogwarts-details-container {
  width: 50%;
  line-height: 1.7;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.homepage-card-description {
  margin-bottom: 5rem;
}

.homepage-cards {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 90%;
  margin: 5rem;
  padding: 2rem;
}

.homepage-card-img {
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
  margin-right: 2rem;
}

.homepage-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.homepage-card-button {
  background-image: linear-gradient(
    to right,
    #fceabb 0%,
    #f8b500 51%,
    #fceabb 100%
  );
  border-color: #e6e6de;
}
.homepage-card-button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 15px;
  display: block;
  margin: auto;
}

.homepage-card-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
