.nav {
  background-color: transparent;
  color: black;
  padding: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.2rem;
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

.logo-nav {
  height: 8rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
}

.nav-items:hover {
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.3s;
}

@media screen and (max-width: 464px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .nav-items {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .logo-nav {
    height: 5rem;
    text-align: right;
  }
}

@media screen and (max-width: 1024px) {
  .logo-nav {
    height: 9rem;
  }
  .nav-items {
    font-size: 1.5rem;
  }
}
